@charset 'UTF-8';


body { font-family:'Roboto', 'NotoSans', 'Dotum', 'sans-serif'; font-weight:500; font-size:16px; color:#555; letter-spacing:-0.025em; }

/* common
====================== */
.blind { position:absolute !important; width:1px !important; height:1px !important; color:transparent !important; overflow:hidden !important; clip:rect(1px 1px 1px 1px); /* IE6, IE7 */ clip:rect(1px, 1px,1px, 1px); clip-path:inset(50%); }

.tal { text-align:left !important; }
.tac { text-align:center !important; }
.tar { text-align:right !important; }

.fc-primary { color:#0072bc !important; }

/* title */
.tit-d1 { display:block; font-weight:300; font-size:80px; text-align:center; }
.tit-d2 { display:block; font-size:44px; font-weight:500; text-align:center; color:#000; }
.tit-d3 { display:block; font-size:36px; font-weight:700; color:#000; }
.tit-d4 { display:block; font-size:27px; font-weight:700; color:#000; }
.tit-sub { display:block; font-size:36px; font-weight:700; text-align:center; color:#f79433; }
.desc-d1 { display:block; font-size:24px; font-weight:300; text-align:center; }
.desc-d1:before { display:block; width:40px; height:2px; background:#fff; margin:25px auto 35px; content:""; }
.desc-d2 { display:block; margin-top:5px; font-size:20px; font-weight:500; color:#555; text-align:center; }

/* button */
[class*="btn-"]:hover { text-decoration:none; }
.btn-area { margin:40px 0 0; }
.btn-base { z-index:0; display:inline-block; position:relative; height:48px; padding:0 25px; line-height:48px; background:linear-gradient(135deg, #0072bc 0%, #00b49d 100%); color:#000; font-size:18px; font-weight:500; transition:all .2s ease-in-out; text-decoration:none; }
.btn-base:before { z-index:-1; position:absolute; top:1px; left:1px; right:1px; bottom:1px; display:block; background:#fff; content:""; }
/* .btn-base:hover { background:linear-gradient(135deg, #05B59D 0%, #F79433 100%); } */
.btn-base:hover:before { top:3px; left:3px; right:3px; bottom:3px; }
.btn-base.primary { color:#fff; }
.btn-base.primary:before { opacity:0; }
.btn-base.primary:hover { background:linear-gradient(-135deg, #0072bc 0%, #00b49d 100%); }
.btn-base .ico-arr { margin:-4px 0 0 5px; }
.btn-base .ico-download { margin:-4px 0 0 4px; }

.btn-menu { position:relative; display:inline-block; width:30px; height:30px; }
.btn-menu:before,
.btn-menu:after { position:absolute; left:5%; display:block; width:90%; height:3px; background:#fff; transition:all ease-in-out .25s; content:""; }
.btn-menu:before { top:10%; }
.btn-menu:after { top:82%; }
.btn-menu span { position:absolute; overflow:hidden; top:50%; left:5%; display:block; width:90%; height:3px; background:#fff; color:transparent; margin-top:-1px; transition:all ease-in-out .25s; }

/* table */
.tbl-base { }
.tbl-base > table { width:100%; border-top:1px solid #cdcdcd; border-bottom:1px solid #898989; }
.tbl-base th { padding:17px; background:#f9f9f9; font-size:18px; font-weight:400; text-align:center; vertical-align:middle; }
.tbl-base td { padding:17px; border-top:1px solid #e7e7e7; font-size:18px; font-weight:400; text-align:center; vertical-align:middle; }
.tbl-base thead th { color:#232323; border-bottom:1px solid #f9f9f9; }
.tbl-base tbody th { color:#454545; border-top:1px solid #e7e7e7; }
.tbl-base th.th-cross { background:#F3F3F3 !important; }
.tbl-base a:hover { text-decoration:underline; }

/* bullet */
p.bul-dot:before,
ul.bul-dot > li:before { display:inline-block; width:5px; height:5px; margin:-4px 8px 0 -15px; vertical-align:middle; border-radius:50%; background:#454545; content:""; }
p.bul-dot { color:#454545; padding-left:14px; font-size:18px; }
ul.bul-dot > li { color:#454545; margin-top:8px; padding-left:16px; font-size:18px; }

/* icon */
[class*="ico-"] { display:inline-block; vertical-align:middle; }
.ico-arr { width:40px; height:10px; background:url('../img/ico_arrow_r.png') right 0/40px auto no-repeat; }
.ico-download { width:18px; height:18px; background:url('../img/ico_download.png') right 0/18px auto no-repeat; }
.ico-arr.light { background-position-y:-10px; }

.txt-dot { margin:0 -0.3em; }

/* tag */
.tag-new { display:inline-block; height:18px; line-height:18px; font-size:13px; font-weight:700; color:#fff; padding:0 5px; background:#F79433; vertical-align:middle; margin:-3px 0 0 5px; }

/* paging */
.paging-area { margin-top:40px; text-align:center; }
.btn-jump { position:relative; display:inline-block; margin:0 5px; vertical-align:middle; width:35px; height:35px; border-radius:5px; overflow:hidden; color:transparent; font-size:xx-small; }
.btn-jump:before { position:absolute; top:50%; left:50%; width:20px; height:20px; margin:-10px 0 0 -14px; border-top:1px solid #919191; border-right:1px solid #919191; transform:rotate(45deg); content:""; }
.btn-jump.disabled { pointer-events:none; opacity:.3; }
.btn-jump.prev:before { transform:rotate(-135deg); margin:-10px 0 0 -2px;}
.btn-jump:hover:before { border-color:#f79433; }
.paging-link { display:inline-block; vertical-align:middle; }
.paging-link a { display:inline-block; height:35px; margin:0 5px; vertical-align:middle; text-decoration:none; font-size:24px; line-height:35px; }
.paging-link a:hover { text-decoration:underline; }
.paging-link a.current { color:#f79433; }
.paging-fraction { display:none; }


/* header
====================== */
.skip-nav { position:absolute; top:0; left:0; width:100%; text-align:center; }
.skip-nav a { position:absolute; display:block; width:100%; height:0; overflow:hidden; background:#000; color:#fff; line-height:30px; }
.skip-nav a:focus { height:30px; }

.logo { display:inline-block; vertical-align:middle; }

.header-area { z-index:10; position:fixed; top:0; left:0; width:100%; height:100px; transition:all ease-in-out .2s; background:rgba(0,0,0,.8); overflow:hidden; }
.is-home .header-area { background:rgba(0,0,0,0); }
.header-area:after { z-index:1; position:absolute; top:96px; left:0; right:0; display:block; height:4px; background:linear-gradient(45deg, #0072bc 0%, #0072bc 80%, #05b59d 80.0001%, #05b59d 90%, #f79433 90.0001%, #f79433 100%); content:""; }
.header-area .header-grid { max-width:1480px; padding:0 20px; margin:0 auto; height:100%; }
.header-area .header-grid:after { display:block; clear:both; content:""; }
.header-area .logo { float:left; margin-top:32px; }
.header-area .logo .dark { display:none; }
.header-area .gnb-area { float:right; margin-top:40px; }
.header-area a { transition:color ease-in-out .2s; }
.header-area .btn-menu { display:none; }
.nav-d1 { position:relative; }
.nav-d1 > li { position:relative; display:inline-block; margin:0 33px; color:#fff; font-size:24px; }
.nav-d1 > li > a:hover,
.nav-d1 > li:hover > a,
.nav-d1 > li > a:focus,
.nav-d1 > li:focus > a { color:#f79433; }
.nav-d1 > li:last-child { margin-right:0; }
.nav-d2 { display:none; position:absolute; top:75px; left:50%; margin-left:-75px; width:150px; color:#000; font-weight:400; font-size:18px; text-align:center; }
.nav-d2 > li { margin-top:12px; }
.nav-d2 > li > a:hover,
.nav-d2 > li > a:focus { font-weight:700; }

/* footer
====================== */
.footer-area { background:#232323; color:#919191; }
.footer-area .footer-grid { display:table; width:100%; max-width:1480px; padding:40px 20px; margin:0 auto; }
.footer-area .logo { display:table-cell; vertical-align:middle; }
.footer-area .address { display:table-cell; width:100%; vertical-align:middle; padding:0 0 0 60px; }
.footer-area .address span { display:block; margin-top:8px; }
.footer-area .address span:first-child { margin-top:0; }

/* visual
====================== */
.visual-area { z-index:0; position:relative; height:480px; background-size:cover; background-position:center center; color:#fff; }
.visual-area:after { z-index:1; position:absolute; display:block; top:0; left:0; right:0; bottom:0; background:linear-gradient(to top, rgba(0,0,0,.1) 0%, rgba(0,0,0,.7) 100%), linear-gradient(to right, rgba(0,114,188,.3), rgba(247,148,51,.3)); content:""; }
.visual-area .tit-area { margin-top:120px; }
.visual-area.main { height:900px; }
.visual-area.main:after { display:none; }
.visual-area.main .tit-area { z-index:1; position:relative; top:360px; left:0; width:100%; margin:0; }
.visual-area .visual-inner { z-index:2; position:relative; height:100%; padding:100px 20px 0; margin:0 auto; }
.slider-visual { position:absolute; top:0; left:0; width:100%; height:100%; }
.slider-visual .slider-inner,
.slider-visual .slick-list,
.slider-visual .slick-track,
.slider-visual .slick-slide { height:100%; }
.slider-visual .slide { position:relative; background-size:cover; background-position:center center; }
.slider-visual .slide:after { z-index:0; position:absolute; display:block; top:0; left:0; right:0; bottom:0; background:linear-gradient(to top, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 30%, rgba(0,0,0,.2) 100%); content:""; }
.slider-pagination.type-num { position:absolute; left:0; bottom:60px; width:100%; text-align:right; padding-right:20px; }
.slider-pagination.type-num li { display:inline-block; margin:0 5px; }
.slider-pagination.type-num a { background:none; width:auto; height:auto; font-size:20px; font-weight:300; }
.slider-pagination.type-num .slick-active a { font-weight:700; }

/* main content
====================== */
.cont-grid { max-width:1480px; padding:115px 20px 120px; margin:0 auto; }
.cont-inner { margin-top:60px; }

/* main : notice */
.bbs-list { display:table; width:100%; background:#F7F7F7; padding:40px 100px; table-layout:fixed; }
.bbs-list > li { display:table-row; }
.bbs-list .td { display:table-cell; padding:8px 10px; }
.bbs-list .category { width:11%; min-width:100px; font-weight:800; white-space:nowrap; }
.bbs-list .subject { width:auto; }
.bbs-list .subject a { display:inline-block; max-width:calc(100% - 50px); max-height:1.4em; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.bbs-list .subject a:hover { text-decoration:underline; }
.bbs-list .date { width:11%; white-space:nowrap; color:#898989; font-size:15px; font-weight:400; text-align:right; }

/* main : business  */
.cont-area.business { background:url('../img/bg_business.jpg') center center/cover no-repeat; }
.link-list { }
.link-list:after { display:block; clear:both; content:""; }
.link-list .link-visual { float:left; width:23.5%; margin-left:2%; }
.link-list .link-visual:first-child { margin-left:0; }
.link-list a { z-index:0; position:relative; display:flex; align-items:center; justify-content:center; height:400px; color:#fff; text-align:center; overflow:hidden; }
.link-list a .link-img { z-index:-1; position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-size:cover; background-position:center center; background-repeat:no-repeat; transition:transform ease-in-out .5s; }
.link-list a:hover .link-img { transform:scale(1.2); }
.link-list a div { flex:0 0 auto; padding-top:60px; }
.link-list strong { display:flex; justify-content:space-between; margin:0 auto; max-width:155px; text-align:justify; font-size:44px; font-weight:500; flex-wrap:wrap; letter-spacing:-0.075em;}
.link-list strong i { display:block; flex:0 0 auto; }
.link-list .col2 { max-width:130px; }
.link-list .col2 i { flex:0 0 44px; letter-spacing:0; }
.link-list .txt { display:block; margin-top:50px; }

/* main : introduce */
.intro-list { max-width:70%; min-width:980px; margin:0 auto; }
.intro-list:after { display:block; clear:both; content:""; }
.intro-list > li { float:left; width:33%; text-align:center; border-left:1px solid #d8d8d8; }
.intro-list > li:first-child { border-left:0; }
.intro-list > li:before { display:block; width:105px; height:105px; margin:0 auto 25px; background:url('../img/sp_ico_intro.jpg') 0 0/105px auto no-repeat; content:""; }
.intro-list > li.organization:before { background-position-y:-105px; }
.intro-list > li.map:before { background-position-y:-210px; }
.intro-list .tit { font-size:32px; color:#000; display:block; }
.intro-list .desc { display:block; margin-top:10px; font-size:18px; color:#777; }

/* page content
====================== */
.article { position:relative; max-width:1195px; border-top:2px solid #000; padding:0 0 40px; margin:40px auto 0; }
.article.bdb { border-bottom:1px solid #898989; }
.article:first-child { margin-top:0; }
.article .tit-area { margin:100px 0 35px; }
.article .tit-area:first-child { margin-top:0; padding-top:40px; }
.article .tit-area.pdr-s { padding-right:195px; }
.article .desc-d2 { text-align:left; }
.article .img-area { margin-top:35px; height:0; padding-top:46.8%; background-position:center center; background-size:cover; }
.article .btn-area.upper { position:absolute; top:50px; right:0; margin:0; }
.article .btn-area .btn-base { margin:0 3px; }

/* organization
====================== */
.organization-area { display:table; width:100%; margin:-30px 0; table-layout:fixed; }
.organization-area .row { position:relative; text-align:center; font-size:0; }
.organization-area .item { display:inline-block; width:100%; text-align:center; vertical-align:middle; padding:30px;}
.organization-area .item:first-child:before { z-index:-1; position:absolute; top:50%; left:50%; display:block; width:1px; height:100%; background:#000; content:""; }
.organization-area .item:first-child:after { z-index:-1; position:absolute; top:50%; left:50%; display:block; width:50%; height:1px; background:#000; transform:translateX(-50%); content:""; }
.organization-area .grid4 .item:first-child:after { top:-50%; width:75%; height:100%; background:none; border-width:1px 1px 0; border-style:solid; border-color:#000; background:#fff; }
.organization-area .grid4 .item:first-child:before { display:none; }
.organization-area .item:only-child:after { display:none; }
.organization-area .grid2 .item { width:50%; }
.organization-area .grid4 .item { width:25%; }
.organization-area .item strong { display:inline-block; height:60px; line-height:60px; color:#fff; font-weight:700; font-size:27px; text-align:center; min-width:220px; }
.organization-area .item.primary strong { background:#F79433; }
.organization-area .item.secondary strong { background:#05B59D; }
.organization-area .item.third strong { background:#0072BC; }

/* intro
====================== */
.greeting-area { position:relative; padding-right:300px;  }
.greeting-area .greeting-img { position:absolute; top:40px; right:0; width:300px; text-align
:center; }
.greeting-area .greeting-img img { width:200px; height:auto; }
.greeting-area .tit-d4 { margin-bottom:30px; }
.greeting-inner { min-height:450px; font-size:21px; font-weight:400; }
.greeting-inner p { line-height:1.7em; }
.greeting-inner p + p { margin-top:10px; }
.txt-sign { display:block; margin-top:22px; font-size:16px; color:#565656; text-align:center; font-weight:400; }

.vision-area { display:table; width:100%; }
.vision-area > div { display:table-row; }
.vision-area dt { display:table-cell; width:30%; vertical-align:middle; padding:30px 80px 30px 0; }
.vision-area dt strong { display:block; width:100%; height:100px; padding-top:12px; border:6px solid #ededed; border-radius:50px; text-align:center; font-size:32px; font-weight:700; color:#0072BC; }
.vision-area dt strong span { display:block; margin-bottom:-7px; opacity:.3; font-size:21px; text-transform:uppercase; }
.vision-area dd { display:table-cell; width:70%; padding:30px 0; vertical-align:middle; }
.vision-area .vision span { display:block; background:#ededed; text-align:center; color:#000; font-size:32px; font-weight:700; height:160px; line-height:160px; }
.vision-area .value { font-size:0; text-align:center; }
.vision-area .value span { display:inline-block; vertical-align:middle; }
.vision-area .value strong { display:inline-block; width:240px; height:240px; border-radius:50%; color:#fff; font-size:36px; font-weight:700; text-align:center; vertical-align:middle; padding-top:70px; }
.vision-area .value span:before { display:inline-block; width:auto; font-size:60px; color:#ededed; font-weight:700; content:"+"; vertical-align:middle; margin:0 10px; }
.vision-area .value span:first-child:before { display:none; }
.vision-area .value .community strong { background:#0072bc; }
.vision-area .value .local strong { background:#05b59d; }
.vision-area .value .culture strong { background:#f79433; }

/* notice
====================== */
.notice-area {}
.notice-header { padding:30px 60px; border-bottom:1px solid #e7e7e7; }
.notice-header .subject { font-size:24px; font-weight:700; color:#232323; }
.notice-header .desc { margin-top:15px; font-size:14px; color:#898989; font-weight:400; }
.notice-header .desc > div { display:inline; }
.notice-header .desc > div:first-child:before { display:none; }
.notice-header .desc > div:before { display:inline-block; width:1px; height:10px; margin:0 10px; background:#e7e7e7; content:""; }
.notice-header .desc dt { display:inline; }
.notice-header .desc dt:after { display:inline; margin-left:4px; content:":"; }
.notice-header .desc dd { display:inline; }
.notice-cont { padding:30px 60px 0; font-size:18px; font-weight:400; line-height:1.4em; }
.notice-cont p { line-height:1.7em; }

/* map
====================== */
.map-area { position:relative; margin:50px 0 35px; width:100%; height:600px; }
.map-desc { margin-top:10px; font-size:21px; font-weight:400; color:#212121; }
.map-desc .btn-base { margin-left:10px; }
.map-info { border-top:1px solid #cdcdcd; margin-top:30px; color:#212121; font-weight:400; }
.map-info > li { position:relative; border-top:1px solid #e7e7e7; padding:30px 60px 30px 175px; font-size:18px; color:#454545; }
.map-info > li:first-child { border-top:0; }
.map-info > li:last-child { padding-bottom:0; }
.map-info > li:before { position:absolute; top:30px; left:60px; display:block; width:80px; height:80px; background:0 0/80px auto url('../img/sp_ico_map.jpg') no-repeat; content:""; }
.map-info > li.bus:before { background-position-y:-80px; }
.map-info > li strong { display:block; margin-bottom:15px; font-size:21px; }

/* Layer
====================== */
.layer-wrap { z-index:20; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.6); }
.layer-inner { position:absolute; top:calc(50% + 20px); left:50%; transform:translate(-50%, -50%);}
.layer-wrap .btn-close { position:absolute; bottom:100%; right:0; margin-bottom:0; }
.ad-img { margin:15px 0; }
.ad-img img { max-width:90vw; max-height:90vh; }
.btn-close { position:relative; display:inline-block; width:50px; height:50px; }
.btn-close:before,
.btn-close:after { position:absolute; top:50%; left:0; width:100%; height:2px; background:#fff; transform:rotate(135deg); content:""; }
.btn-close:after { transform:rotate(45deg); }
.lb-check { font-weight:400; font-size:15px; cursor:pointer; }
.lb-check.light { color:#fff; }

@media (max-width:1245px) {
	.vision-area .value span:before { font-size:40px; }
	.vision-area .value strong { padding-top:50px; width:190px; height:190px; }
}

/* only PC */
@media (min-width:1025px) {
	.only-resp { display:none !important; }
	
	.header-area.hover { height:298px; background:#fff; box-shadow:0 5px 8px rgba(0,0,0,.1); }
	.header-area.hover .img-logo { display:none; }
	.header-area.hover .img-logo.dark { display:inline-block; }
	.header-area.hover .nav-d1 > li { color:#000; font-weight:400; }
	.header-area.hover .nav-d2 { display:block; }
}