@charset 'UTF-8';

/* tablet & mobile */
@media (max-width:1024px) {
	/* common */
	body { font-size:14px; }

	.only-pc { display:none !important; }

	/* layout */
	.cont-grid { padding:80px 25px; }
	.cont-inner { margin-top:45px; }

	.btn-area { margin:25px 0 0; }

	/* title */
	.tit-sub { margin-bottom:5px; font-size:24px; }
	.tit-d1 { font-size:50px; }
	.tit-d2 { font-size:35px; }
	.tit-d3 { font-size:25px; }
	.tit-d4 { font-size:22px; }
	.desc-d1 { font-size:20px; }
	.desc-d2 { margin-top:10px; font-size:18px; word-break:keep-all; }
	.desc-d1:before { margin:15px auto 25px; }

	.br { display:none; }

	/* button */
	.btn-base { height:40px; padding:0 20px; line-height:40px; font-size:16px; }
	.btn-close { width:40px; height:40px; }

	/* icon */
	.btn-base .ico-arr { transform:scale(0.7); margin-top:-6px; }

	/* tag */
	.tag-new { font-size:12px; }

	/* header */
	.header-area { height:70px; overflow:visible; }
	.header-area:after { top:68px; }
	.header-area .gnb-area { float:none; position:fixed; padding:70px 0 0; margin:0; top:0; left:-100%; background:#fff; width:100%; height:100%; transition:all ease-in-out .35s; }
	.header-area.open .gnb-area { left:0; }
	.header-area.open:after { opacity:0; }
	.header-area .logo { z-index:2; position:absolute; left:15px; top:50%; transform:translateY(-50%); margin:0; }
	.header-area .btn-menu { z-index:2; display:block; position:absolute; top:19px; right:15px; }
	.header-area.open .btn-menu:after,
	.header-area.open .btn-menu:before,
	.header-area.open .btn-menu span { background:#000; }
	.header-area.open .btn-menu:before { transform:rotate(45deg); top:14px; left:2px; }
	.header-area.open .btn-menu:after { transform:rotate(-45deg); top:14px; left:2px; }
	.header-area.open .btn-menu span { width:0; }
	.header-area.open .img-logo { display:none; }
	.header-area.open .img-logo.dark { display:block; }

	.logo img { width:130px; height:auto; }
	.gnb-area a { display:block; height:50px; line-height:52px; padding:0 15px; border-bottom:1px solid #e8e7e7; overflow:hidden; }
	.nav-d1 { height:100%; padding:0;overflow-y:auto; border-top:1px solid #8f8b8a; }
	.nav-d1 > li { display:block; margin:0; color:#000; font-size:20px; text-align:left; }
	.nav-d1 > li > a:hover, 
	.nav-d1 > li:hover > a,
	.nav-d1 > li > a:focus, 
	.nav-d1 > li:focus > a { color:inherit; }
	.nav-d1 > li > a { position:relative; font-size:16px; font-weight:700; background:#f8f9fa; }
	.nav-d1 > li > a:after { position:absolute; right:15px; top:15px; display:block; width:10px; height:10px; border-top:1px solid #454545; border-right:1px solid #454545; margin:2px 4px 0 0; transform:rotate(135deg); content:""; }
	.nav-d1 > li > a:only-child:after { display:none; }
	.nav-d1 > li.on > a { background:#0973BA; color:#fff; }
	.nav-d1 > li.on > a:after { border-color:#fff; margin-top:8px; transform:rotate(-45deg); }
	.nav-d2 { display:none; position:static; width:100%; margin:0; text-align:left; }
	.nav-d1 > li.on .nav-d2 { display:block; }
	.nav-d2 > li { margin:0; }
	.nav-d2 > li a { font-size:15px; font-weight:400; }

	/* table */
	.tbl-base th,
	.tbl-base td { padding:10px; font-size:16px; }
	.tbl-scroll { width:100%; overflow-x:auto; }
	.tbl-scroll > table { width:auto; }

	/* paging */
	.paging-area { margin-top:30px; }
	.paging-link { display:none; }
	.paging-fraction { display:inline-block; height:35px; margin:0 5px; vertical-align:middle; line-height:35px; font-size:20px; text-align:center; }
	.paging-fraction i { margin:0 3px;}
	.paging-fraction .current { color:#f79433; }

	/* main : visual */
	.visual-area { height:0; padding-top:40vh; }
	.visual-area .visual-inner { position:absolute; top:0; left:0; width:100%; padding-top:70px; }
	.visual-area .tit-area { margin-top:calc(20vh - 35px); transform:translateY(-50%); }
	.visual-area.main { height:0; padding-top:55vh; }
	.visual-area.main .tit-area { padding:0 30px; top:50%; transform:translateY(-50%); }

	.slider-pagination.type-num { bottom:5%; }
	.slider-pagination.type-num a { font-size:16px; }

	.article .tit-area:first-child { padding-top:23px; }
	.article .tit-area { margin:80px 0 25px; }
	.article .btn-area.upper { top:28px; }
	.article .tit-area.pdr-s > p { margin-right:-195px; }

	/* main : business */
	.cont-area.business { background:#ededed; }
	.article .img-area { margin-top:25px; }
	.link-list a { height:250px; }
	.link-list a div { padding-top:28px; }
	.link-list strong { max-width:111px; font-size:30px; }
	.link-list strong i { flex:0 0 20px; letter-spacing:0; }
	.link-list .col2 { max-width:84px; }
	.link-list .col2 i { flex:0 0 29px; }
	.link-list .txt { margin-top:20px; }

	/* main : notice */
	.bbs-list { padding:30px 25px; }
	.bbs-list .category { width:15%; }
	.bbs-list .date { width:15%; font-size:12px; }

	/* main : introduce */
	.intro-list { min-width:0; max-width:100%; }
	.intro-list > li:before { margin-bottom:10px; }
	.intro-list .tit { font-size:20px; }
	.intro-list .desc { font-size:16px; }

	/* page : organization */
	.organization-area { margin:-10px 0; }
	.organization-area .item { padding:10px 0; }
	.organization-area .item strong { font-size:18px; height:40px; line-height:40px; min-width:150px; padding:0 10px; }

	/* page : intro */
	.greeting-area .greeting-img { top:0; }
	.greeting-inner { font-size:18px; }
	.greeting-area .tit-d4 { margin-bottom:10px; }

	.vision-area dt { padding:15px 30px 15px 0; }
	.vision-area dd { padding:15px 0; }
	.vision-area dt strong { height:80px; padding-top:10px; font-size:24px; }
	.vision-area dt strong span { font-size:18px; }
	.vision-area .vision span { height:120px; line-height:120px; font-size:24px; }
	.vision-area .value span:before { font-size:30px; margin:0 4px; }
	.vision-area .value strong { width:140px; height:140px; font-size:24px; padding-top:53px; }
	
	.notice-header { padding:25px; }
	.notice-cont { padding:25px 25px 0; }

	.map-info > li { padding:25px 25px 25px 90px; }
	.map-info > li:before { top:20px; left:0; transform:scale(.8); }
}
@media (max-width:765px) {
	.link-list { margin:0 -1%; }
	.link-list .link-visual { width:48%; margin:1%; }
	.link-list .link-visual:first-child { margin:1%; }

	.intro-list > li:first-child { margin-top:0; }
	.intro-list > li { margin-top:25px; border:0; float:none; width:100%; }
	.intro-list .btn-area { margin-top:15px; }

	.organization-area .item strong { min-width:100px; }
	
	.article .btn-area.upper.col2 { position:static; margin-top:25px; text-align:center; }

	.greeting-area { padding:0; }
	.greeting-area .greeting-img { position:static; width:100%; text-align:left; margin-bottom:25px; }
	.greeting-area .greeting-img img { width:200px; height:auto; }
	.txt-sign { text-align:left; }
	.greeting-inner { min-height:0; }

	.vision-area > div { display:block; margin-top:40px; }
	.vision-area > div:first-child { margin-top:0; }
	.vision-area dt { display:block; width:100%; padding:0 0 20px; }
	.vision-area dt strong { width:250px; margin:0 auto; }
	.vision-area dd { display:block; width:100%; padding:0; }
	.vision-area .vision span { height:auto; min-height:100px; line-height:1.4em; padding:40px 25px; font-size:20px; word-break:keep-all; line-height:1.7em; }
	.vision-area .value strong { width:120px; height:120px; padding-top:48px; font-size:20px; }
}

/* mobile */
@media (max-width:500px) {
	/* table */
	.tbl-base th,
	.tbl-base td { font-size:14px; }

	.cont-inner { margin-top:35px; }

	.tit-sub { font-size:20px; }
	.tit-d1 { font-size:35px; }
	.tit-d2 { font-size:28px; }
	.tit-d3 { font-size:24px; }
	.tit-d4 { font-size:20px; }
	.desc-d1 { font-size:18px; }
	.desc-d2 { font-size:16px; margin-top:15px; }

	.btn-base .ico-arr { margin-left:-2px; margin-right:-8px; }

	.btn-base { font-size:14px; }
	
	p.bul-dot,
	ul.bul-dot > li { font-size:14px; padding-left:10px; }
	p.bul-dot:before, 
	ul.bul-dot > li:before { width:3px; height:3px; margin:-2px 4px 0 -8px; }

	.footer-area .footer-grid { display:block; }
	.footer-area .logo { display:block; }
	.footer-area .address { display:block; padding:0; margin-top:25px; }

	.link-list { margin:0; }
	.link-list .link-visual { width:100%; margin:15px 0 0; }
	.link-list .link-visual:first-child { margin:0; }

	.bbs-list > li { position:relative; display:block; margin-top:25px; white-space:nowrap; padding-bottom:20px; }
	.bbs-list > li:first-child { margin-top:0; }
	.bbs-list .td { display:inline; padding:0; width:100%; }
	.bbs-list .category { margin-bottom:5px; }
	.bbs-list .category:before { content:"["; }
	.bbs-list .category:after { content:"]"; }
	.bbs-list .date { position:absolute; bottom:0; left:0; text-align:left; }
	.bbs-list .subject a { max-width:calc(100% - 73px); }

	.article { padding:0 0 25px; }
	.article .tit-area { margin:60px 0 20px; }
	.article .tit-area.pdr-s { padding-right:0; }
	.article .btn-area.upper { position:static; font-size:0; margin:25px -3px 0; text-align:center; }
	.article .img-area { margin-top:20px; }
	.article .tit-area.pdr-s > p { margin-right:0; }
	.article .btn-area .btn-base { margin:0 3px; }
	.article .btn-area.col2 .btn-base { width:calc(50% - 6px); padding:0; }
	
	/* page : organization */
	.organization-area { margin:-10px 0; }
	.organization-area .item { padding:10px 0; }
	.organization-area .item strong { font-size:14px; height:35px; line-height:35px; padding:0 8px; }
	.organization-area .item.third strong { padding:0 5px; font-size:12px; min-width:0; }
	
	/* page : intro */
	.greeting-inner { font-size:16px; }
	.txt-sign { margin-top:20px; font-size:14px; }
	.vision-area dt strong { height:65px; width:200px; padding-top:7px; font-size:20px; }
	.vision-area dt strong span { font-size:14px; }
	.vision-area .vision span { min-height:0; padding:15px; font-size:20px; line-height:1.4em; }
	.vision-area .value span { display:block; }
	.vision-area .value span:before { display:block; margin:15px 0; }
	.vision-area .value strong { width:120px; height:120px; font-size:20px; }

	/* notice */
	.notice-header { padding:20px; }
	.notice-header .subject { font-size:20px; }
	.notice-header .desc > div {  }
	.notice-cont { padding:20px 20px 0; font-size:14px; }

	/* map */
	.map-area { height:0; padding-top:70%; }
	.map-desc { font-size:18px; }
	.map-info > li { font-size:16px; padding-left:75px; }
	.map-info > li strong { font-size:18px; }
	.map-info > li:before { transform:scale(0.6); }
	
}